form 
{
    background-color: #454B52 ;
    padding: 20px;
}
     
#infovendedor
{
    background-color: #292E33 ;
}
#infocliente
{
    background-color: #292E33 ;
}

#lista
{
    margin-left: 6cm;
    background-color: #454B52 ;
}

#grupo
{
    margin-left: 20cm;
    color: #297a66 ;
}



#dos
{
    color: #292E33;
}

#uno
{
    color: #454B52 ;
}

font
{
    color: #f8f4f4;
}

table
{
    background-color: #c7ab4f ;
}




